/*
 *
 * {{MODULE_NAME}}
 *
 * {{AUTHOR_NAME}}
 * {{LICENSE}} Licensed.
 *
 * Custom here your css module
 *
 */

.musiceveryday .suggestions-title{
    float: right;
    display: block;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #666;
}
.musiceveryday .suggestions-content{
    float: right;
    width: 100%;
    display: block;
    font-size: .5em;
    text-align: left;
}
.musiceveryday {
    width: 200px;
}

.musiceveryday div.today{
    font-size: 2em;
}
.musiceveryday div.tomorrow,
.musiceveryday div.yesterday{
    font-size: .7em;
    opacity: .7;
}
.musiceveryday div.before,
.musiceveryday div.after{
    font-size: .5em;
    opacity: .5;
}
.musiceveryday div.today,
.musiceveryday div.before,
.musiceveryday div.after,
.musiceveryday div.tomorrow,
.musiceveryday div.yesterday{
    float:right;
    width: 17%;
    padding: 1px;
    text-align: center;
}
